<div class="form">
  <% if @spot.comments.any? %>
    <h4 class="form-header">Dopisz się:</h4>
  <% else %>
    <h4 class="form-header">Bądź pierwszy:</h4>
  <% end %>
  <!-- comment form here -->
  <%= form_for [@spot, @comment] do |f| %>

    <div class="form-group">
      <%= f.text_field :author, class: "form-control", placeholder: "Twoje imie" %>
    </div>

    <div class="form-group">
      <%= f.text_area :body, class: "form-control", rows: 3, placeholder: "Twoja wiadomość, np. o której będziesz? Czy coś od kogoś chcesz?" %>
    </div>

      <%= f.submit "Akceptuj", class: "btn btn-primary" %>

  <% end %>
</div>

