<footer class="footer">
  <small>
    Copyright <%= Time.now.year %> - Grzegorz Milanowski - <a href="http://www.github.com/totenmilan" id="github_link">Check my GitHub account</a>
  </small>
</footer>
