<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "Spocik.pl", root_path, id: "logo" %>
    <%= link_to "Chodź na deske", 'javascript:naDeske()', class: "btn navbar-btn" %>
    <%= link_to "O co chodzi?", 'javascript:howItWorks()', class: "btn navbar-btn" %>
    <%= link_to "Beta", 'javascript:beta()', class: "btn navbar-btn" %>
  </div>

</header>
