<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Spocik.pl", root_path, id: "logo" %> -
    <%= link_to "Chodź na deske", 'javascript:naDeske()', class: "logo_text" %>
    <%= link_to "O co chodzi?", 'javascript:howItWorks()', class: "logo_text" %>
    <%= link_to "Beta", 'javascript:beta()', class: "logo_text" %>
  </div>

</header>
